@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row m-0 p-5">
    <div class="col-sm-12 col-md-10">
        <div id="map"></div>
    </div>
     <div class="col-sm-12 col-md-2 justify-content-center" id="binResultPanel">
         <ul class="binResultList">
             <li class="binResultItem"></li>
             <li class="binResultItem"></li>
             <li class="binResultItem"></li>
         </ul>
         
     </div>
  @*  <div class="col-sm-12 col-md-2 justify-content-center" id="filter">
        <h2 class="text-center">Filter</h2>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Dog Bin" id="dogBinCheckbox">
            <label class="form-check-label" for="defaultCheck1">
                Dog bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Black Bin" id="blackBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Black bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Green Bin" id="greenBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Green bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Glass Bin" id="glassBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Glass bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Plastic Bin" id="plasticBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Plastic bins
            </label>
        </div>
        <button id="submitBinFilterBtn" class="btn-sm btn-primary">Filter</button>
        <button id="showAllBinFilterBtn" class="btn-sm btn-secondary">Reset</button>
    </div>*@
</div>

 