@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row m-0 p-0">
    <div class="col-sm-12 col-md-10">
        <h3 class="text-center">Find a bin</h3>
        <div id="map"></div>
    </div>
    <div class="col-sm-12 col-md-2 justify-content-center" id="filter">
        <h2 class="text-center">Filter</h2>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Dog Bin" id="dogBinCheckbox">
            <label class="form-check-label" for="defaultCheck1">
                Dog bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Black Bin" id="blackBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Black bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Green Bin" id="greenBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Green bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Glass Bin" id="glassBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Glass bins
            </label>
        </div>
        <div class="form-check p-0">
            <input class="checkbox" name="bins" type="checkbox" value="Plastic Bin" id="plasticBinCheckbox">
            <label class="form-check-label" for="defaultCheck2">
                Plastic bins
            </label>
        </div>
        <button id="submitBinFilterBtn" class="btn-sm btn-primary">Filter</button>
        <button id="showAllBinFilterBtn" class="btn-sm btn-secondary">Reset</button>
    </div>
</div>
<row>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="from" class="col-xs-2 control-label"><i class="far fa-dot-circle"></i></label>
            <div class="col-xs-4">
                <input type="text" id="start" placeholder="Origin" class="form-control">
            </div>
        </div>
        <div class="form-group">

            <label for="to" class="col-xs-2 control-label"><i class="fas fa-map-marker-alt"></i></label>
            <div class="col-xs-4">
                <input type="text" id="end" placeholder="Destination" class="form-control">
            </div>

        </div>
             <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-info btn-lg "><i class="fas fa-map-signs"></i></button>
            </div>

    </form>
</row>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
